/*页面身体样式*/
body {
    margin: 0;
}
.mod_body{
    width: 99%;
    height: 80px;
    margin: 0px 10px 10px 10px;
}
.micbody {
    margin-top: 60px;
    margin-left: 80px;
    width: 85%;
    height: 600px;
    /* background-color: #ffffff; */
}
.toolbar {
    width: 688px;
    height: 10%;
    /* background-color: red; */
    margin-bottom: 20px;
    position: relative;
    left: 0px;
    top: 10px;
}
.gbms {
    width: 1000px;
    height: 86%;
    /* background-color: blue; */
    margin-bottom: 20px;
    position: relative;
    left: 0px;
}
.song_info {
    width: 700px;
    height: 86%;
    /* background-color: yellow; */
    margin-bottom: 20px;
    position: relative;
    left: 65%;
    top: -90%;
    text-align: center;
}
.img {
    /*background: url('https://v1.itooi.cn/tencent/pic?id=0010e3Cd0kZt9S');*/
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 17px;
    position: absolute;
    left: 30%;
}
.music-info {
    margin-top: 110%;
    color: #e1e1e0;
}
.toolbar .events {
    border: 1px solid;
    position: relative;
    left: 5px;
    top: 30%;
    margin-right: 5%;
    padding: 10px 50px;
    white-space:nowrap;
}
.gbms ul {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
    width: auto;
}
.gbms ul li {
    float: left;
    user-select:none;
}
.check_box:hover{
    color: #ffffff;
}
